$container-width: 750px;
$container-height: 1134px;
$feature-colour: #7c7d7f;
$menu-colour: #000066;
$background: #e7e6e5;
$font-size: 12pt;


body {
  font-family: "Avenir Next Condensed", Arial, Helvetica;
  font-weight: 200;
  color: $feature-colour;
  margin: 0;
  background-color: $background;
  font-size: $font-size;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $feature-colour;
}

h1, h2, h3, h4 {

  font-weight: 500;
  text-transform: uppercase;
  margin: 10pt;

  a {
    margin-right: 10pt;
  }
}

#container {

}

.menu {
  background-color: $menu-colour;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 110%;
  position: fixed;
  width: 100%;
  z-index: 100;

  li {
    display: inline-block;
    color: white;
    margin: 0;

    a {
      color: white;
      text-decoration: none;
      padding: 10pt;
      display: inline-block;
    }
  }
}

.weeks, .days, .workouts, .exercises {

  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0px solid #d5d3d1;
  border-top-width: 1px;

  li {

    border: 0px solid #d5d3d1;
    border-width: 1px 0px;
    border-top-color: #e5e0dd;
    margin: 0;
    position: relative;
    padding: 10pt;

    .button {
      padding: 7pt;
      margin-left: 6pt;
      font-size: 90%;
      background-color: lighten($menu-colour, 30%);
      border: 0px solid black;
      border-radius: 01pt;
      color: white;
    }

    .boxes {
      display: inline-block;
      position: absolute;
      right: 10pt;
      top: 10pt;
    }

    a {
      display: block;
    }

  }
}

.sets {

  list-style-type: none;
  margin: 0;
  padding:0;

  li {

    display: inline-block;
    width: 40pt;
    margin: 0;
    padding: 5pt;
    border-width: 0px;

    input {
      width: 20pt;
    }

  }
}

.page-content {
  padding-top: 40pt;
}

.workout-name i {
  position: absolute;
  right: 10pt;
}

.showSets, .showReps {
  display: inline-block;
  width: 100px;
  padding-top: 5pt;
}

.settings {
  float: right;
}


