<div id="container">

<ul class="menu">
    <li>{{#link-to 'exercises'}}Exercises{{/link-to}}</li>
    <li>{{#link-to 'weeks'}}Weeks{{/link-to}}</li>
    <li class="settings">{{#link-to 'userdata'}}{{unbound fa-icon "user"}}{{/link-to}}</li>
    <li class="settings">{{#link-to 'settings'}}{{unbound fa-icon "cog"}}{{/link-to}}</li>
</ul>

<div class="page-content">
    {{liquid-outlet}}
</div>

</div>